<!-- <mat-slide-toggle>Slide me!</mat-slide-toggle> -->
<!-- User Information: {{ EmployeeData | json }} -->

<!-- Working code  -->
<!-- <table id="EmployeeData">
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Email</th>
    <th>Department</th>
    <th>Company</th>
    <th>Date of Joining</th>
  </tr>
  <tr *ngFor="let EmployeeData of EmployeeData">
    <td>{{ EmployeeData.name }}</td>
    <td>{{ EmployeeData.gender }}</td>
    <td>{{ EmployeeData.email }}</td>
    <td>{{ EmployeeData.department }}</td>
    <td>{{ EmployeeData.company }}</td>
    <td>{{ EmployeeData.date }}</td>
  </tr>
</table> -->

<!-- {
  "name": "Solomon Fernley",
  "gender": "Male",
  "email": "sfernley0@bbc.co.uk",
  "department": "Marketing",
  "company": "Wordware",
  "date": "29-Sep-2023"
}, -->

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="userData">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>NAME</th>
      <td mat-cell *matCellDef="let element">{{ EmployeeData.name }}</td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef>Gender</th>
      <td mat-cell *matCellDef="let element">{{ EmployeeData.gender }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ EmployeeData.email }}</td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef>Department</th>
      <td mat-cell *matCellDef="let element">{{ EmployeeData.department }}</td>
    </ng-container>

    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef>Company</th>
      <td mat-cell *matCellDef="let element">{{ EmployeeData.company }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date Of Joining</th>
      <td mat-cell *matCellDef="let element">{{ EmployeeData.date }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20, 100, 250]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
