.Header {
  padding: 5px;
}

table {
  width: 100%;
}

span {
  padding: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-mdc-form-field {
  /* padding-bottom: 0px; */
  font-size: 12px;
  width: 100%;
}

/* td,
th {
  width: 25%;
} */
