<mat-slide-toggle>Slide me!</mat-slide-toggle>
<!-- User Information: {{ userInfo | json }} -->

<!-- Working code  -->
<table id="userInfo">
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Email</th>
    <th>Department</th>
    <th>Company</th>
    <th>Date of Joining</th>
  </tr>
  <tr *ngFor="let userInfo of userInfo">
    <td>{{ userInfo.name }}</td>
    <td>{{ userInfo.gender }}</td>
    <td>{{ userInfo.email }}</td>
    <td>{{ userInfo.department }}</td>
    <td>{{ userInfo.company }}</td>
    <td>{{ userInfo.date }}</td>
  </tr>
</table>

<!-- {
  "name": "Solomon Fernley",
  "gender": "Male",
  "email": "sfernley0@bbc.co.uk",
  "department": "Marketing",
  "company": "Wordware",
  "date": "29-Sep-2023"
}, -->
